<div class="container mt-4">


    <nav class="border-0">
        <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
            <a class="nav-item nav-link text-success active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                role="tab" aria-controls="nav-home" aria-selected="true">Minoristas</a>
            <a class="nav-item nav-link text-success" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                role="tab" aria-controls="nav-profile" aria-selected="false">Mayoristas</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home">
            <div class="card shadow border-0 p-1">
                ipsum
                dolor sit amet consectetur adipisicing elit. Aspernatur est suscipit vitae inventore enim autem
                architecto
                praesentium. Facere ea a commodi minus modi iste perspiciatis dolorum ab praesentium qui? Provident!
                Lorem
                ipsum, dolor sit amet consectetur adipisicing elit. Mollitia necessitatibus odio aperiam laborum ipsam
                quos?
                Architecto sed recusandae illum quibusdam minima, obcaecati, aliquid cum quas adipisci saepe facilis!
                Maiores, ea.

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-outline-light text-dark text-decoration-none btn-block text-left"
                                    type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    <h5><i class="far fa-angry"></i>
                                        Collapsible Item #1</h5>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid.
                                3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                                nesciunt
                                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                single-origin
                                coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                                wes
                                anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings
                                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                haven't heard
                                of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-outline-light text-dark text-decoration-none btn-block text-left"
                                    type="
                                    button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    <h5><i class="far fa-angry"></i>
                                        Collapsible Item #2</h5>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="jumbotron mt-3">
                                    <h1>Bottom Navbar example</h1>
                                    <p class="lead">This example is a quick exercise to illustrate how the bottom navbar
                                        works.</p>
                                    <a class="btn btn-lg btn-primary" href="/docs/4.5/components/navbar/"
                                        role="button">View
                                        navbar docs »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-outline-light text-dark text-decoration-none btn-block text-left"
                                    type="
                                    button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    <h5><i class="far fa-angry"></i>
                                        Collapsible Item #3</h5>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid.
                                3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                                nesciunt
                                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                single-origin
                                coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                                wes
                                anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings
                                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                haven't heard
                                of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile">
            <div class="card shadow border-0 p-1">hi</div>
        </div>


    </div>




</div>


{{>navegacionComerciante}}