<div class="jumbotron jumbotron-fluid m-3">
  <div class="container">
    <h1 class="display-4"> <i class="far fa-clock"></i> Solicitud en proceso</h1>
    <p class="lead">La administración de Cenabastos está pendiente por aprobar tu solicitud de comerciante.</p>
     <div class="lead"><a class="btn btn-warning btn-lg" href="/comerciante/updatelogout" role="button">Cierra sesión</a> para actualizar.</div>
  </div>
</div>
{{>navegacionComerciante}}