<div class="jumbotron jumbotron-fluid mt-2">
  <div class="container">
    <h1 class="display-4">Solicitud en proceso</h1>
    <p class="lead">La administración de Cenabastos está pendiente por aprobar tu solicitud de comerciante.</p>
  </div>
</div>
{{>navegacionIndex}}