<div class="container mt-3">

    <div class="row">

        <div class="col-12">

            <div class="card p-5">


                <h3>Información Sobre las Presentaciones</h3>
                <br>
                <p>Cada local tiene unos productos para vender, y cada uno de esos productos debe tener una presentacion.</p>
                <br>
                <p>Con cada presentación que se agregue el cliente va a tener mas diversidad de un solo producto para poder comprar.</p>
                <br><br>
                <p><b>Pasos para agregar Presentaciones a tus productos:</b></p>
                <br>
                <p>1. Se deben agregar los Productos que se estan vendiendo en el local.</p>
                <br>
                <p>2. Aparecerá una vista con una tarjeta y en cada una de las tarjetas se visualizará cada uno de los productos que se agregaron en el paso anterior.</p>
                <br>
                <p>3. En la tarteja aparece un botón con el signo "+" con el cual se podrá añadir las presentaciones que se venden en el local.</p>
                <br>
                <p>4. Aparecerán unos campos para llenar, por ejemplo, el Nombre de la Presentación (Kilo, Libra, Canasta, Etc), una breve Descripción y por último el Precio de la Presentación</p>
                <br>
                <p>5. Por último, dar click en el boton Agregar Presentación</p>


            </div>


        </div>

    </div>

</div>

{{>navegacionComerciante}}