<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        transition: 0.2s;
    }

    /*Variables*/

    :root {
        /*Longitudes*/
        --header-height: 70px;
        --nav-bar-height: 50px;
        --icon-size: 30px;
        --nav-icon-size: 25px;
        --banner-height: 150px;
        --stories-space-height: 150px;
        --storie-height: 60px;
        --product-height: 100px;
        --product-width: 150px;
        /*Colores*/
        --mega-green: rgb(102, 211, 116);
        --mega-orange: rgb(255, 153, 0);
        --white: rgb(255, 255, 255);
    }

    /* ----------- Mobile First------------------*/

    body {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header {
        width: 100%;
        height: var(--header-height);
        background-color: var(--white);
        position: fixed;
        top: 0;
        box-shadow: 2px 26px 28px -6px rgba(0, 0, 0, 0.05);
        display: flex;
        z-index: 10000;
        align-items: center;
        border-bottom: 5px solid var(--mega-orange);
    }

    .header .title {
        align-self: flex-start;
        height: 100%;
        min-width: 20px;
        display: flex;
    }

    .header .search-icon {
        width: var(--icon-size);
        height: var(--icon-size);
        background-image: url("../icons/search.svg");
        background-repeat: no-repeat, repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: 20px;
    }

    .no-header {
        width: 100%;
        min-height: 90vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    .banner {
        width: 100%;
        margin-top: var(--header-height);
        overflow: hidden;
        box-shadow: inset -18px -157px 103px -169px rgba(0, 0, 0, 0.51);
        flex: 0 0 var(--banner-height);
    }

    .banner .state {
        position: absolute;
        bottom: 0;
        left: 5px;
        color: white;

        font-size: 20px;
        z-index: 5000;
    }

    .banner img {
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2500;
    }

    .seller-space {
        width: 100%;
        min-height: 200px;
        margin-bottom: var(--nav-bar-height);
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .stories-space {
        min-width: 100%;
        height: var(--stories-space-height);
        display: flex;
        padding: 5px;
        overflow-x: auto;
        overflow-y: hidden;
        padding-left: 30px;
    }

    .stories-space .storie {
        width: var(--storie-height);
        height: var(--storie-height);
        border-radius: 100%;
        border: 3px solid var(--mega-green);
        overflow: hidden;
        cursor: pointer;
        margin-right: 10px;
        flex: 0 0 var(--storie-height)
    }

    .storie img {
        width: 200%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .stories-space::-webkit-scrollbar {
        height: 10px;
    }


    /*.stories-space::-webkit-scrollbar-track {}*/

    .stories-space::-webkit-scrollbar-thumb {
        background: rgb(245, 245, 245);
        height: 3px;
        border-radius: 5px;
    }

    .seller-space .title {

        color: var(--mega-green);
        width: 100%;
        font-size: 20px;
        padding-left: 10px;
    }

    .seller-space .store-data {
        width: 100%;
        min-height: 60px;
        padding-top: 5px;
        font-size: 12px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 5px;
    }

    .delivery {
        width: 100%;
        height: 15px;
        display: flex;
        color: var(--mega-green);
    }

    .delivery .delivery-icon {
        background-image: url("../icons/truck.png");
        background-repeat: no-repeat, repeat;
        background-size: cover;
        height: 15px;
        width: 15px;
        margin-left: 5px;
    }

    .seller-info {
        width: 100%;
        display: flex;
        max-height: 60px;
        overflow-y: auto;
        background-color: white;
        margin-bottom: 30px;

    }

    .seller-info::-webkit-scrollbar {
        width: 3px;
        background: var(--mega-orange);
    }

    .score {
        width: 100%;
        height: 15px;
        display: flex;
        position: absolute;
        bottom: 0;
        margin-bottom: 5px;
    }

    .score .score-icon {
        width: 15px;
        height: 15px;
        background-image: url("../icons/star.png");
        background-repeat: no-repeat, repeat;
        background-size: cover;
    }

    .score .score-value {

        color: var(--mega-orange);
        display: flex;
        align-items: flex-end;
    }

    .seller-space .store-products {
        width: 100%;
        min-height: 100px;
    }

    .store-products .products {
        width: 100%;
        min-height: var(--product-height);
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-left: 10px;
        margin-bottom: var(--header-height);
    }

    .store-products .products .product {
        flex: 0 0 var(--product-width);
        height: var(--product-height);
        box-shadow: 11px 26px 33px 3px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        overflow: hidden;
        margin-right: 15px;
        margin-bottom: 15px;
        cursor: pointer;
        display: flex;
        align-items: flex-end;
    }

    .store-products .products .product:hover {
        transform: scale(1.1);
    }

    .store-products .products .product.tomate {
        background: rgb(255, 152, 152);
        background: linear-gradient(to left, rgb(255, 119, 119), #ff9966);
    }

    .store-products .products .product.zanahoria {
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }

    .store-products .products .product.papa {
        background-color: #e8c99b;
        background-image: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%);
    }

    .store-products .products .product.banano {
        background-image: linear-gradient(to right top, #f4f464, #baf252);
    }

    .store-products .products .product.aguacate {
        background-image: linear-gradient(120deg, #d9fc79 0%, #4da759 100%);
    }

    .store-products .products .product.uva {
        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    }

    .store-products .products .product.cebolla {
        background-image: linear-gradient(to right top, #98f88f, #dff8b1);
    }

    .store-products .products .product.sandia {
        background-image: linear-gradient(to right top, #f88f8f, #93ffb4);
    }

    .store-products .products .product.mandarina {
        background-image: linear-gradient(to right top, #fda23f, #ffd993);
    }

    .products .product .product-img {
        position: absolute;
        top: 0;
    }

    .products .product .product-img img {
        width: var(--product-height);
        height: var(--product-height);
        transform: scale(1.2) translateX(50%);
    }

    .products .product .product-info {
        height: 50%;
        width: 50%;
        color: white;
        font-size: 15px;
        position: absolute;
        bottom: 10px;
        left: 10px;

        display: flex;
        align-items: flex-end;
    }
</style>

<!-- demo styles -->
<link rel="stylesheet" href="/zuckjs/demo/style.css">

<!-- lib styles -->
<link rel="stylesheet" href="/zuckjs/dist/zuck.min.css">

<!-- lib skins -->
<link rel="stylesheet" href="/zuckjs/dist/skins/snapgram.css">
<link rel="stylesheet" href="/zuckjs/dist/skins/vemdezap.css">
<link rel="stylesheet" href="/zuckjs/dist/skins/facesnap.css">
<link rel="stylesheet" href="/zuckjs/dist/skins/snapssenger.css">

<header class="header" style="overflow: auto;">
    <div class="title p-2">
        <h4>Fruver Don David</h4>
    </div>
</header>

<div class="no-header">
    <div class="banner">
        <div class="state">Abierto</div>
        <img src="https://res.cloudinary.com/megaplaza/image/upload/v1595817698/screenshot20190314at24807pm-af3ef74748f44fb77ca0fea86873723e-600x400_fttqm8.jpg"
            class="img-banner">

    </div>
    <div class="seller-space">
        <div class="title">
            <h4>Informacion</h4>
        </div>

        <div class="stories-space" id="stories-space">
            <div id="stories" class="storiesWrapper stories"></div>
        </div>


        <div class="store-data">
            <div class="delivery">$
                <div class="delivery-value">4000</div>
                <div class="delivery-icon"></div>
            </div>
            <div class="seller-info">
                <p>Bienvenido al local </p>
            </div>
            <div class="score">
                <div class="score-icon"></div>
                <div class="score-value">4.3</div>
            </div>
        </div>

        <div class="store-products">
            <div class="title">
                <h4>Alimentos</h4>
            </div>
            <div class="products">
                <a class="product tomate" href="tomate.html">
                    <div class="product-img"><img
                            src="https://res.cloudinary.com/megaplaza/image/upload/v1595806197/tomate_xi6jyn.png"
                            alt="Tomate"></div>
                    <div class="product-info">$1200 /kg</div>
                </a>
                <a class="product banano" href="banano.html">
                    <div class="product-img"><img
                            src="https://res.cloudinary.com/megaplaza/image/upload/v1595806188/banano_wfutos.png"
                            alt=""></div>
                    <div class="product-info">$2200 /racimo</div>
                </a>
                <a class="product aguacate" href="aguacate.html">
                    <div class="product-img"><img
                            src="https://res.cloudinary.com/megaplaza/image/upload/v1595806180/aguacate_ezz3ad.png"
                            alt=""></div>
                    <div class="product-info">$1200 c/u</div>
                </a>
                <div class="product papa">
                    <div class="product-img"><img
                            src="https://res.cloudinary.com/megaplaza/image/upload/v1595806194/papa_jzlwzm.png"
                            alt="Tomate"></div>
                    <div class="product-info">$1200 /kg</div>
                </div>
                <div class="product zanahoria" hidden=true>
                    <div class="product-img"><img
                            src="https://res.cloudinary.com/megaplaza/image/upload/v1595806202/zanahoria_y3xnf5.png"
                            alt=""></div>
                    <div class="product-info">$2200 /racimo</div>
                </div>
                <div class="product cebolla">
                    <div class="product-img"><img
                            src="https://res.cloudinary.com/megaplaza/image/upload/v1595806191/cebolla_z9949y.png"
                            alt=""></div>
                    <div class="product-info">$1200 c/u</div>
                </div>
                <a class="product uva" href="../html/product.html">
                    <div class="product-img"><img
                            src="https://res.cloudinary.com/megaplaza/image/upload/v1595806201/uva_zol9mo.png"
                            alt="Tomate"></div>
                    <div class="product-info">$1200 /kg</div>
                </a>
                <div class="product sandia">
                    <div class="product-img"><img
                            src="https://res.cloudinary.com/megaplaza/image/upload/v1595806196/sandia_ajk4zg.png"
                            alt=""></div>
                    <div class="product-info">$2200 /racimo</div>
                </div>
                <div class="product mandarina">
                    <div class="product-img"><img
                            src="https://res.cloudinary.com/megaplaza/image/upload/v1595806162/mandarina_le51uv.png"
                            alt=""></div>
                    <div class="product-info">$1200 c/u</div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="/zuckjs/dist/zuck.min.js"></script>
<script src="/zuckjs/demo/script.js"></script>
<script>
    var currentSkin = getCurrentSkin();
    currentSkin['name'] = "VemDeZAP";
    //currentSkin['params']['list'] = "true";

    console.log("----++++---", currentSkin);
    var stories = new Zuck('stories', {
        backNative: true,
        previousTap: true,
        skin: currentSkin['name'],
        autoFullScreen: currentSkin['params']['autoFullScreen'],
        avatars: currentSkin['params']['avatars'],
        paginationArrows: currentSkin['params']['paginationArrows'],
        list: currentSkin['params']['list'],
        cubeEffect: currentSkin['params']['cubeEffect'],
        localStorage: true,
        stories: [
            Zuck.buildTimelineItem(
                "ramon",
                "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/users/1.jpg",
                "Ramon",
                "https://ramon.codes",
                timestamp(),
                [
                    ["ramon-1", "photo", 3, "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/1.jpg", "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/1.jpg", '', false, false, timestamp()],
                    ["ramon-2", "video", 0, "https://res.cloudinary.com/megaplaza/video/upload/v1595892407/VID-20190504-WA0006_qlbag6.mp4", "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/2.jpg", '', false, false, timestamp()],
                    ["ramon-3", "photo", 3, "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/3.png", "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/3.png", 'https://ramon.codes', 'Visit my Portfolio', false, timestamp()]
                ]
            ),
            Zuck.buildTimelineItem(
                "gorillaz",
                "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/users/2.jpg",
                "Gorillaz",
                "",
                timestamp(),
                [
                    ["gorillaz-1", "video", 0, "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/4.mp4", "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/4.jpg", '', false, false, timestamp()],
                    ["gorillaz-2", "photo", 3, "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/5.jpg", "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/5.jpg", '', false, false, timestamp()],
                ]
            ),
            Zuck.buildTimelineItem(
                "ladygaga",
                "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/users/3.jpg",
                "Lady Gaga",
                "",
                timestamp(),
                [
                    ["ladygaga-1", "photo", 5, "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/6.jpg", "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/6.jpg", '', false, false, timestamp()],
                    ["ladygaga-2", "photo", 3, "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/7.jpg", "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/7.jpg", 'http://ladygaga.com', false, false, timestamp()],
                ]
            ),
            Zuck.buildTimelineItem(
                "starboy",
                "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/users/4.jpg",
                "The Weeknd",
                "",
                timestamp(),
                [
                    ["starboy-1", "photo", 5, "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/8.jpg", "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/8.jpg", '', false, false, timestamp()]
                ]
            ),
            Zuck.buildTimelineItem(
                "riversquomo",
                "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/users/5.jpg",
                "Rivers Cuomo",
                "",
                timestamp(),
                [
                    ["riverscuomo", "photo", 10, "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/9.jpg", "https://raw.githubusercontent.com/ramon82/assets/master/zuck.js/stories/9.jpg", '', false, false, timestamp()]
                ]
            )
        ],
        language: { // if you need to translate :)
            unmute: 'Toca para oir',
            keyboardTip: 'Espacio para cambiar',
            visitLink: 'Visita el link',
            time: {
                ago: 'atrás',
                hour: 'hora',
                hours: 'horas',
                minute: 'minuto',
                minutes: 'minutos',
                fromnow: 'ahora',
                seconds: 'segundos',
                yesterday: 'ayer',
                tomorrow: 'mañana',
                days: 'días'
            }
        }
    });

</script>

{{>navegacionComerciante}}