<div class="container mt-4">
    <div class="container">
        <div class="container">
            <div class="card mb-3 shadow">
                <div class="card-body">
                    <p class="card-text">
                    <h3 class="">Enlaces de interés</h3>
                    <br>

                    <i style="font-size: 25px;" class="fas fa-globe"></i> <a href="http://cenabastos.com/">Página
                        principal</a>
                    <br><br>

                    <i style="font-size: 25px;" class="fab fa-facebook"></i> <a
                        href="https://www.facebook.com/Cenabastos-De-C%C3%BAcuta-Propiedad-Horizontal-137743123493305">
                        Pagina oficial
                        Facebook</a>
                    <br><br>

                    <i style="font-size: 25px;" class="fab fa-twitter"></i> <a
                        href="https://twitter.com/cenabastosph?s=20">Perfil de Twitter</a>
                    <br><br>

                    <i style="font-size: 25px;" class="fab fa-instagram"></i> <a
                        href="https://www.instagram.com/cenabastosdecucuta/?hl=es">Perfil de Instagram</a>
                    <br><br>

                    <i style="font-size: 25px;" class="far fa-envelope"></i> <a
                        href="mailto:secretaria@cenabastos.com">Correo : secretaria@cenabastos.com</a>
                    <br><br>
                    
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{>navegacionIndex}}