<div class="container mb-5">
    <div class="d-flex align-items-center justify-content-center w-100" style="height: 90vh;">
        <div class="row">
            <div class="col-12 col-md-6 mb-5">
                <div class="logo mx-auto mt-3" style="width: 70%;"><img src="/static/logocenabastos.png" alt=""
                        style="width: 100%;"></div>
                <div class="texto mt-2 font-weight-bold text-center"> La mayor variedad de frutas frescas, y verduras de
                    excelente calidad y a bajos precios.
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card shadow-sm p-3 pt-1">
                    <form method="POST" action="/cliente/sesion/login" class="mt-4">
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="Correo electrónico" name="email"
                                id="email" required autocomplete="on">
                        </div>
                        <div class="form-group">
                            <input placeholder="Contraseña" type="password" class="form-control" id="password"
                                name="password" required autocomplete="on">
                            <a href="/cliente/sesion/recuperarClave" class="text-warning"><small class="mt-4">¿Olvidaste
                                    la
                                    contraseña?</small></a>
                        </div>
                        <button type="submit" class="btn btn-success mx-auto">Iniciar sesión</button>
                    </form>
                    <hr class="my-4">
                    <a href="/cliente/sesion/logup"><button class="btn btn-warning  mx-auto">Crear cuenta
                            nueva</button></a>

                </div>
            </div>


        </div>
    </div>
</div>


{{>navegacionIndex}}