{{#if message}}
<div class="container w-100 justify-content-center ml-auto mr-auto" style="z-index: 100000;">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="alert alert-danger alert-dismissible fade show d-flex bd-highlight mt-3" role="alert">

                <div class="mt-auto mb-auto flex-shrink-1 bd-highlight">
                    <i class="fas fa-exclamation mr-2" style="font-size: 20px;"></i>
                </div>
                <div class="p-2 w-100 bd-highlight">
                    {{message}}
                </div>

                <button type="button" class="close mt-2" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}



{{#if success}}
<div class="container w-100 justify-content-center ml-auto mr-auto" style="z-index: 100000;">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="alert alert-success alert-dismissible fade show d-flex bd-highlight mt-3" role="alert">

                <div class="mt-auto mb-auto flex-shrink-1 bd-highlight">
                    <i class="fas fa-check mr-2" style="font-size: 20px;"></i>
                </div>
                <div class="p-2 w-100 bd-highlight">
                    {{success}}
                </div>

                <button type="button" class="close mt-2" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}



{{#if info}}
<div class="container w-100 justify-content-center ml-auto mr-auto" style="z-index: 100000;">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="alert alert-primary alert-dismissible fade show d-flex bd-highlight mt-3" role="alert">

                <div class="mt-auto mb-auto flex-shrink-1 bd-highlight">
                    <i class="fas fa-info-circle mr-2" style="font-size: 20px;"></i>
                </div>
                <div class="p-2 w-100 bd-highlight">
                    {{info}}
                </div>

                <button type="button" class="close mt-2" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}