<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-success">
    <a class="navbar-brand" href="/"> <img src="/static/favicon_green.png" style="width: 30px; height: 30px;"> Cenabastos P.H.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/administrador/comerciante/comercianteListado"><i class="far fa-user"></i> Comerciantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/administrador/estadisticas/buscarPorFechas"><i class="fas fa-chart-line"></i> Estadisticas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/administrador/productos/listadoProductos"><i class="fas fa-apple-alt"></i> Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/administrador/reclamos/listaReclamos"><i class="fas fa-inbox"></i> Reclamos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/administrador/sesion/logout"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
            </li>
            
        </ul>
    </div>
</nav>