<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-success">
    <a class="navbar-brand" href="/"> <i class="far fa-lemon"></i> Cenabastos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/cliente/explorar/listadoLocalesMinoristas"><i class="fas fa-store"></i> Explorar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cliente/pedidos/historial"><i class="fas fa-shopping-cart"></i> {{cantItemsCarrito}} Carrito </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cliente/buzon/listadoBuzon"><i class="far fa-envelope"></i> Buzón</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cliente/sesion/logout"><i class="fas fa-sign-out-alt"></i> Cerrar
                    sesión</a>
            </li>

        </ul>
    </div>
</nav>