<style>
    .app-header{
       background-image: url("/static/leaves-pattern.png") !important;
       background-repeat: repeat !important; 

    }
</style>

<div class="app-sidebar sidebar-shadow" style="position:fixed;z-index:999;">
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu pt-3">

                <li class="mm-active">
                    <a href="#" aria-expanded="true">
                        <i class="metismenu-icon fas fa-store"></i> Explorar
                        <i class="metismenu-state-icon fas fa-angle-down"></i>
                    </a>
                    <ul class="mm-collapse mm-show">
                        <li>
                            <a href="/cliente/explorar/listadoLocalesMinoristas">
                                <i class="metismenu-icon"></i> Minoristas
                            </a>
                        </li>
                        <li>
                            <a href="/cliente/explorar/listadoLocalesMayoristas">
                                <i class="metismenu-icon">
                                </i>Mayoristas
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon fas fa-shopping-cart"></i> Compras
                        <i class="metismenu-state-icon fas fa-angle-down"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="/cliente/pedidos/carrito">
                                <i class="metismenu-icon">
                                </i>Carrito
                            </a>
                        </li>
                        <li>
                            <a href="/cliente/pedidos/historial">
                                <i class="metismenu-icon">
                                </i>Mis compras
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon fas fa-bell">

                        </i> Notificaciones
                    </a>
                </li>
                <li>
                    <a href="/cliente/sesion/logout">
                        <i class="metismenu-icon fas fa-sign-out-alt">

                        </i> Salir
                    </a>
                </li>

            </ul>
        </div>
    </div>

</div>
<div class="" style="position: fixed; top:10px; right: 10px;z-index: 9999;">
    <a href="/cliente/pedidos/carrito" class="btn btn-success rounded-pill shadow-lg" style="font-size: 18px;">
        <i class="fas fa-shopping-cart"></i> {{cantItemsCarrito}}
    </a>
</div>
<div class="app-header header-shadow" style="z-index:999">

    <div class="d-flex">
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>

        <div class="app-header__logo">
            <img src="/personalizated/images/logo-inverse.png" alt="">
        </div>
    </div>


</div>