<nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light border-0 shadow" style="z-index: 500000;">
    <a class="navbar-brand  text-success" href="/"> <i class="far fa-lemon "></i> Cenabastos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link  text-success" href="/cliente/explorar/listadoLocalesMinoristas"><i class="fas fa-store"></i> Explorar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  text-success" href="/cliente/pedidos/carrito"><i class="fas fa-shopping-cart"></i> {{cantItemsCarrito}} Carrito </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  text-success" href="/cliente/notificacion/listadoNotificaciones"><i class="fas fa-bell"></i> Notificaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  text-success" href="/cliente/sesion/logout"><i class="fas fa-sign-out-alt"></i> Cerrar
                    sesión</a>
            </li>

        </ul>
    </div>
</nav>