<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">

            <div class="card border-0 shadow p-3">
                <div class="card-body">
                    <div class="card-text">
                        <div><i class="fas fa-exclamation-triangle"></i> Solo puedes comprar en un local a la vez. Cada local te cobrará domicilios por aparte.
                        </div>
                        <br>
                        <a href="#" class="card-link text-warning">Vaciar carrito</a>
                    </div>
                </div>


            </div>
            <img src="/static/addToCart.png" alt="" style="width: 100%;">

        </div>
    </div>
</div>

{{>navegacionCliente}}